    body {
        background: url("imgs/bg.jpg") no-repeat;
        background-size: cover;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    #gallery-header {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: yellow;
        border-bottom: 2px solid darkslateblue;

    }

    .image {
        height: 300px;
        width: 22.5%;
        float: left;
        margin: 1.25%;
        background-size: cover;
        background-position: center;
        background-image: url("imgs/1.jpeg");
    }

    .image1 {
        background-image: url("imgs/1.jpeg");
    }
    .image2 {
        background-image: url("imgs/2.jpg");
    }
    .image3 {
        background-image: url("imgs/3.jpg");
    }
    .image4 {
        background-image: url("imgs/4.jpg");
    }
    .image5 {
        background-image: url("imgs/5.jpg");
    }
    .image6 {
        background-image: url("imgs/6.jpg");
    }
    .image7 {
        background-image: url("imgs/7.jpg");
    }
    .image8 {
        background-image: url("imgs/8.jpg");
    }

    #date {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: red;
        letter-spacing: 0.2rem;
    }

    p {
        margin-left: 1.25%;
        width: 97.5%;
    }

    #special { 
        border-left: 5px solid darkblue;
        padding-left: 5px;
    }

    hr {
        margin-left: 1.25%;
        width: 97.5%;
        margin-bottom: 50px;
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }